<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>
                %-8relative [%thread] %-5level %logger{35} - %msg %n
            </pattern>
        </encoder>
    </appender>

    <root level="ALL">
        <appender-ref ref="STDERR"/>
    </root>
</configuration>